html
  head
    title Week 9 Assignment
  body 
    h1= message
    table
      thead
        tr
          th Name
          th Reps
          th Weight
          th Date
          th Unit
      tbody
